.container {
    margin: 20px auto;
    max-width: 95%;
  }

.input-slider {
    max-width: 300px;
    width: 100%;
    padding: 10px;
}

// .playlist-display {
//     // padding: 10px;
// }
.playlist-display li {
  padding: 10px;
}

  input[type="range"]::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #F4D03F; 
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid  #F7DC6F; 
  }