<div class="container">
    <h1>ADD A NEW PLAYER</h1>
    <form (ngSubmit)="createPlayer()">
        <div>
            <label><strong>Gamertag</strong></label>
            <input type="text" id="gamertag" [(ngModel)]="gamertag" name="gamertag" required>
        </div>
        <div>
            <label><strong>Real name (Optional)</strong></label>
            <input type="text" id="name" [(ngModel)]="name" name="name" required>
        </div>
        <div>
            <label><strong>Profile picture</strong></label>
            <input type="file" (change)="onFileSelected($event)"> 
        </div>
        <button type="submit" class="btn btn-primary">Create Account</button>
    </form>
    
    <div *ngIf="profilePicturePreview">
        <h3>Preview:</h3>
        <img [src]="profilePicturePreview" alt="Profile Preview" width="300">
    </div>
    
</div>